@import "../../../styles/base";

.newPost {
  @include margin(bottom);
  @include padding(all, sm);
  border: $border-width solid $gray-lighter;
}

.postTitleWrapper {
  @include flexbox();
  @include align-items(center);
}

.postTitle {
  @include input(primary, sm);
  @include margin(left, xs);
  max-width: 10rem;
}

.buttons {
  @include flexbox();
  @include justify-content(flex-end);
}

.addBtn {
  @include button(primary, sm);
  @include margin(left, xs);
}

.cancelBtn {
  @include button(gray-outlined, sm);
}
