@import "../../../styles/base";

.postsWrapper {
  @include padding(top);
  @include container();
}

.posts {
  width: 100%;
}

.header {
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  @include margin(bottom);
}

.addPost {
  @include button(gray-outlined);
}

.actions {
  @include flexbox();
  @include justify-content(space-between);
  @include flex-wrap(wrap);
}

%inlineItems {
  @include inline-flex();
  @include align-items(center);
  @include margin(bottom);

  > :not(:last-child) {
    @include margin(right, xs);
  }
}

.filter {
  @extend %inlineItems;
}

.filterInput {
  @include input(primary);
  max-width: 10rem;
}

.pageSize {
  @extend %inlineItems;
}

@include select();

// Pagination
.pagination {
  @include inline-flex();
  @include padding(left, 0);
  list-style-type: none;
  border: 1px solid $gray-lighter;
}

.page {
  @include pagination-item();
}

.pageLink {
  @include pagination-link();
  border-right: 1px solid $gray-lighter;
}

.active {
  background-color: $gray-lightest;
}

.break {
  @include pagination-link(false);
  background-color: #fff;
  border-right: 1px solid $gray-lighter;
}

.previous {
  @include pagination-item();
}

.previousLink {
  @include pagination-link();
  border-right: 1px solid $gray-lighter;
}

.next {
  @include pagination-item();
}

.nextLink {
  @include pagination-link();
}
