@import "../../../styles/base";

.header {
  @include flexbox();
  border-left: $border-width solid $gray-lighter;
  border-right: $border-width solid $gray-lighter;
  border-top: $border-width solid $gray-lighter;
}

%direction {
  content: ' ';
  border-style: solid;
  display: block;
  position: absolute;
  right: $spacer / 2;
  top: 50%;
  transform: translateY(-50%);
}

.headerCell {
  @include cell();
  @include font(sm, $brand-primary, 500);
  position: relative;
  background-color: $gray-lightest;
  cursor: pointer;
  user-select: none;

  &.asc:before {
    @extend %direction;
    border-width: 0 5px 5px;
    border-color: $brand-primary transparent;
  }

  &.desc:before {
    @extend %direction;
    border-width: 5px 5px 0;
    border-color: $brand-primary transparent transparent;
  }
}
