@import "../../styles/base";

.header {
  @include container();
  @include padding(top);
  @include justify-content(flex-end);
}

.usernameWrapper {
  @include inline-flex();
  @include align-items(center);
}

.username {
  @include margin(left, xs);
  @include input(primary, sm);
}
