@import 'typography';
@import 'colors';
@import 'border';
@import 'spacing';

$button-font-family: $font-family-base;
$button-font-weight: 700;
$button-text-transform: uppercase;
$button-line-height: map-get($line-heights, base);

$button-variants: (
  primary: (
    color: $brand-white,
    bg: $brand-primary,
    border: $brand-primary,
    box-shadow: none,
    hover: (
      color: $brand-white,
      bg: $brand-primary-dark,
      border: $brand-primary-dark,
      box-shadow: none
    )
  ),
  primary-outlined: (
    color: $brand-primary,
    bg: transparent,
    border: $brand-primary,
    box-shadow: none,
    hover: (
      color: $brand-white,
      bg: $brand-primary-dark,
      border: $brand-primary-dark,
      box-shadow: none
    )
  ),
  gray-outlined: (
    color: $brand-primary,
    bg: transparent,
    border: $gray-lighter,
    box-shadow: none,
    hover: (
      color: $brand-primary-dark,
      bg: transparent,
      border: $gray-lighter,
      box-shadow: none
    )
  )
);

$button-sizes: (
  base: (
    height: 2.5rem,
    padding: 0 $spacer / 2,
    font-size: map-get($font-sizes, xs),
    border-radius: $border-radius,
    border-width: $border-width,
  ),
  sm: (
    height: 1.75rem,
    padding: 0 $spacer / 2,
    font-size: map-get($font-sizes, xxs),
    border-radius: $border-radius,
    border-width: $border-width,
  ),
);

