$brand-primary: #424242;
$brand-primary-dark: #212121;

$gray-light: #d9d9d9;
$gray-lighter: #ccc;
$gray-lightest: rgba(239, 239, 239, 0.7);

$brand-white: #fff;
$brand-black: #000;
$light-blue: #E3F2FD;

$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

$body-bg: $brand-white;
$body-color: $brand-primary;

$link-color: $brand-primary;
$link-hover-color: $brand-primary-dark;
