@import 'colors';

$icon-sizes: (
  base: 1.5rem,
  sm: 1rem,
);

$icon-variants: (
  primary: (
    fill: $brand-white,
    hover: (
      fill: $gray-light,
    )
  ),
  primary-outlined: (
    fill: $brand-primary,
    hover: (
      fill: $brand-primary-dark,
    )
  ),
  gray-outlined: (
    fill: $brand-primary,
    hover: (
      fill: $brand-primary-dark,
    )
  )
);
