@import 'typography';
@import 'colors';
@import 'border';
@import 'spacing';

$input-font-family: $font-family-base;
$input-font-weight: 400;
$input-text-transform: inherit;
$input-line-height: map-get($line-heights, base);

$input-variants: (
  primary: (
    color: $brand-primary,
    bg: transparent,
    border: $gray-lighter,
    box-shadow: none,
    hover: (
      color: $brand-primary,
      bg: transparent,
      border: $gray-light,
      box-shadow: none
    )
  )
);

$input-sizes: (
  base: (
    height: 2.5rem,
    padding: 0 $spacer / 2,
    font-size: map-get($font-sizes, base),
    border-radius: $border-radius,
    border-width: $border-width,
  ),
  sm: (
    height: 1.75rem,
    padding: 0 $spacer / 2,
    font-size: map-get($font-sizes, xs),
    border-radius: $border-radius,
    border-width: $border-width,
  ),
);

