@import 'colors';
@import 'typography';

$font-size-base: map-get($font-sizes, base);
$line-height-base: map-get($line-heights, base);

$link-color: $brand-primary;
$link-decoration: none;
$link-hover-color: $brand-primary-dark;
$link-hover-decoration: none;

$text-muted: $gray-lighter;
$abbr-border-color: $gray-lighter;
$dt-font-weight: bold;
$table-cell-padding: .75rem;
$table-bg: transparent;

$enable-hover-media-query: false;
