$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  base: (
    x: $spacer-x,
    y: $spacer-y
  ),
  xxs: (
    x: ($spacer-x * 0.25),
    y: ($spacer-y * 0.25)
  ),
  xs: (
    x: ($spacer-x * 0.5),
    y: ($spacer-y * 0.5)
  ),
  sm: (
    x: ($spacer-x * 0.75),
    y: ($spacer-y * 0.75)
  ),
  md: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  lg: (
    x: ($spacer-x * 2),
    y: ($spacer-y * 2)
  ),
  xl: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  xxl: (
    x: ($spacer-x * 4),
    y: ($spacer-y * 4)
  )
);
