$font-family-sans-serif: 'Helvetica Neue', Arial, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$font-weight-base: 300;

$font-families: (
  base: $font-family-base,
);

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px;
$font-sizes: (
  base: 1rem,
  h1: 2.5rem,
  h2: 2rem,
  h3: 1.35rem,
  h4: 1.25rem,
  h5: 1.15rem,
  h6: 1rem,
  lg: 1.15rem,
  sm: .875rem,
  xs: .8rem,
  xxs: .6rem,
);

$line-heights: (
  base: 1.5,
  xs: 1.1,
  sm: 1.4,
  md: 1.6
);
