@import '../variables/base';
@import '../variables/buttons';
@import 'icons';

@mixin style-variant($variant, $darken: 0) {
  color: map-get($variant, color);
  background-color: darken(map-get($variant, bg), $darken);
  border-color: darken(map-get($variant, border), $darken);
  box-shadow: map-get($variant, box-shadow);
}

@mixin button-variant($variant) {
  $normal-variant: map-get($button-variants, $variant);
  $hover-variant: map-get($normal-variant, hover);

  @include style-variant($normal-variant);

  @include hover-focus {
    @include style-variant($hover-variant);
  }

  &:active {
    @include style-variant($hover-variant, 7%);
  }

  &.disabled,
  &:disabled {
    // todo
  }
}

@mixin button-size($size) {
  $variant: map-get($button-sizes, $size);
  height: map-get($variant, height);
  padding: map-get($variant, padding);
  font-size: map-get($variant, font-size);
  border-radius: map-get($variant, border-radius);
  border-width: map-get($variant, border-width);
}

@mixin button($variant, $size: base, $block: false) {
  @if $block {
    display: flex;
    width: 100%;
  } @else {
    display: inline-flex;
  }
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  text-transform: $button-text-transform;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: 0 solid transparent;
  transition: all $brand-transition;

  @include align(center, center);
  @include button-variant($variant);
  @include button-size($size);

  @include hover-focus {
    text-decoration: none;
  }
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: .65;
    box-shadow: none;
  }

  // TODO improve it
  > svg {
    @include icon($variant, $size)
  }
}

