@import '../variables/grid';
@import '~bootstrap/scss/mixins/breakpoints';

@mixin center() {
  margin-left: auto;
  margin-right: auto;
}

@mixin align($cross: false, $main: false, $direction: false) {
  @if $cross {
    align-items: $cross;
  }
  @if $main {
    justify-content: $main;
  }
  @if $direction {
    flex-direction: $direction;
  }
}

@mixin container($gutter: $grid-gutter-width, $fluid: false, $max-widths: $container-max-widths) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  @include center();

  @if not $fluid {
    @each $breakpoint, $container-max-width in $max-widths {
      @include media-breakpoint-up($breakpoint) {
        max-width: $container-max-width;
      }
    }
  }
}

@mixin col($size: $grid-columns, $columns: $grid-columns, $gutter: $grid-gutter-width, $align: flex-start, $offset: 0) {
  $ratios: ($size / $columns);
  $cycle: floor($columns / $size);

  display: inline-flex;
  flex-wrap: wrap;
  width: percentage($ratios);
  min-width: 0; // FF adjustment for responsive images
  align-self: $align;

  @if $offset > 0 {
    margin-left: percentage($offset / $columns);
  }

  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
}
