@mixin hero($url: false, $bg: black, $height: 100vh, $min-height: 700px, $size: cover, $repeat: no-repeat, $overlay: false, $short: false) {
  display: flex;

  @if ($url) {
    @if ($overlay) {
      background-image: $overlay, $url;
    } @else {
      background-image: $url;
    }
  }

  background-color: $bg;
  background-position-x: center;
  background-position-y: center;
  background-repeat: $repeat;
  background-size: $size;
  box-sizing: border-box;
  height: $height;
  min-height: $min-height;

  @if ($short) {
    height: auto;
    min-height: 200px;
  } @else {
    @include media-breakpoint-down(sm) {
      min-height: 480px;
    }
  }
}


