@import '../variables/colors';
@import '../variables/icons';

@mixin icon-style-variant($variant, $darken: 0) {
  fill: map-get($variant, fill);
}

@mixin icon-variant($variant) {
  $normal-variant: map-get($icon-variants, $variant);
  $hover-variant: map-get($normal-variant, hover);

  @include icon-style-variant($normal-variant);

  @include hover-focus {
    @include icon-style-variant($hover-variant);
  }

  &:active {
    @include icon-style-variant($hover-variant, 7%);
  }
}

@mixin icon-size($size: base) {
  $variant: map-get($icon-sizes, $size);
  width: $variant;
  height: $variant;
}

@mixin icon($variant, $size: base) {
  @include icon-variant($variant);
  @include icon-size($size);
}
