@import '~bootstrap/scss/mixins/border-radius';
@import 'flex';
@import 'buttons';
@import 'icons';
@import 'inputs';

@mixin input-group($button-variant: primary, $size: base) {
  @include inline-flex();

  > input {
    @include input(primary, $size);
    @content;
  }

  > button {
    @include button($button-variant, $size);
  }

  // Reset rounded corners
  > :not(:last-child) {
    border-right: 0;
    @include border-right-radius(0);
  }

  > :not(:first-child) {
    border-left: 0;
    @include border-left-radius(0);
  }
}
