@import '../variables/colors';
@import '../variables/base';
@import '../variables/inputs';

@mixin input-style-variant($variant, $darken: 0) {
  color: map-get($variant, color);
  background-color: darken(map-get($variant, bg), $darken);
  border-color: darken(map-get($variant, border), $darken);
  box-shadow: map-get($variant, box-shadow);
}

@mixin input-variant($variant) {
  $normal-variant: map-get($input-variants, $variant);
  $hover-variant: map-get($normal-variant, hover);

  @include input-style-variant($normal-variant);

  @include hover-focus {
    @include input-style-variant($hover-variant);
  }

  &:active {
    @include input-style-variant($hover-variant, 7%);
  }

  &.disabled,
  &:disabled {
    // todo
  }
}

@mixin input-size($size: base) {
  $variant: map-get($input-sizes, $size);
  height: map-get($variant, height);
  padding: map-get($variant, padding);
  font-size: map-get($variant, font-size);
  border-radius: map-get($variant, border-radius);
  border-width: map-get($variant, border-width);
}

@mixin input($variant, $size: base) {
  display: inline-flex;
  width: 100%;
  font-family: $input-font-family;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  text-transform: $input-text-transform;
  background-image: none;
  background-clip: padding-box;
  border: 0 solid transparent;
  transition: all $brand-transition;
  box-sizing: content-box;

  @include input-variant($variant);
  @include input-size($size);

  // Placeholder
  &::placeholder {
    color: $gray-lighter;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
    }
  }

  @include hover-focus {
  }
  &.focus {
  }

  &:active,
  &.active {
    outline: 0;
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: .65;
    box-shadow: none;
  }
}
