@import "flex";
@import "spacing";
@import "../variables/colors";

@mixin pagination-link($cursor: true) {
  @include inline-flex();
  @include padding(x, sm);
  @include padding(y, xs);
  user-select: none;
  @if ($cursor) {
    cursor: pointer;
  }
}

@mixin pagination-item($bg-color: $brand-white, $hover-color: $gray-lightest) {
  background-color: $bg-color;
  @include hover-focus {
    background-color: $hover-color;
  }
}
