@import '../variables/colors';
@import '../variables/border';
@import 'flex';
@import 'spacing';

@mixin select() {
  .dd__wrapper {
    position: relative;
    min-width: 5rem;
  }

  .dd__opened {
    border-radius: $border-radius;
    border-color: $gray-lighter;
    box-sizing: content-box;
  }

  .dd__disabled {
    border-color: #6D757B;
    color: #6D757B;
  }

  .dd__error {
    border-color: $brand-danger;
  }

  .dd__selectControl {
    @include flexbox();
    @include align-items(center);
    @include padding(all, xs);
    line-height: 1.4;
    border: 1px solid $gray-lighter;
    cursor: pointer;
    overflow: hidden
  }

  .dd__error .dd__selectControl {
    color: $brand-danger;
    user-select: none;
  }

  .dd__disabled .dd__selectControl {
    cursor: default;
  }

  .dd__selected {
    @include flexbox();
    @include flex-grow(1);
    @include flex-wrap(wrap);
    overflow: hidden
  }

  .dd__multi .dd__selected {
    margin-top: -2px;
  }

  .dd__search {
    display: inline-block;
    @include align-items(center);
    @include flex-grow(1);
    border: $border-width solid transparent;
    outline: 0;
    opacity: 0;
    min-height: $spacer;
    word-break: break-word;
  }

  .dd__multi .dd__search {
    margin-top: 2px;
  }

  .dd__opened .dd__search {
    opacity: 1;
  }

  .dd__placeholder {
    border: $border-width solid transparent;
    color: #6D757B;
  }

  .dd__multi .dd__placeholder {
    margin-top: 2px;
  }

  .dd__error .dd__placeholder {
    color: $brand-danger;
    user-select: none;
  }

  .dd__selectedItem {
    @include flexbox();
    border: $border-width solid transparent
  }

  .dd__multi .dd__selectedItem {
    border-color: $gray-lighter;
    background-color: $brand-white;
    border-radius: 2px;
    margin-top: 2px;
    margin-right: 2px;
    padding: 0 4px;
  }

  .dd__crossIcon {
    margin-left: 5px;
  }

  .dd__expandIcon {
    @include margin(left, xxs);
    width: 9px;
    height: 15px;
    @include flex-shrink(0);
    fill: $gray-lighter;
  }

  .dd__error .dd__expandIcon {
    fill: $brand-danger;
  }

  .dd__list {
    display: none;
    position: absolute !important;
    background-color: $brand-white;
    overflow: auto;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    min-width: 100%;
    border: $border-width solid $gray-lighter;
    border-radius: $border-radius;

    /* Without this property, Chrome repaints the entire Grid any time a new row or column is added.
         Firefox only repaints the new row or column (regardless of this property).
         Safari and IE don't support the property at all. */
    will-change: transform;
  }

  .dd__opened .dd__list {
    display: block;
  }

  .dd__opened .dd__list:empty {
    display: none;
  }

  .dd__listVirtualized {
    overflow-y: auto;
    overflow-x: hidden;

    :global(.Grid__innerScrollContainer) {
      overflow: hidden;
      position: relative;
    }
  }

  .dd__openTobottom {
    top: 100%;
    margin-top: -1px;
  }

  .dd__openTotop {
    bottom: 100%;
    margin-bottom: -1px;
  }

  .dd__optionVirtualized {
    position: absolute;
  }

  .dd__option {
    @include padding(all, xs);
    white-space: nowrap;
    cursor: pointer
  }

  .dd__option:hover {
    background-color: $gray-lightest;
  }

  .dd__selectedOption {
    background-color: $gray-lightest;
  }

  .dd__optionDisabled {
    cursor: default;
  }

  .dd__optionDisabled:hover {
    background-color: transparent;
  }
}
