@import '../variables/spacing';

@mixin spacing($property: margin, $side: all, $size: base) {
  $spacer: map-get($spacers, $size);

  $size-x: map-get($spacer, x);
  $size-y: map-get($spacer, y);

  @if $side == all {
    #{$property}: $size-x;
  } @else if $side == top {
    #{$property}-top: $size-y;
  } @else if $side == right {
    #{$property}-right: $size-x;
  } @else if $side == bottom {
    #{$property}-bottom: $size-y;
  } @else if $side == left {
    #{$property}-left: $size-x;
  } @else if $side == x {
    #{$property}-right: $size-x;
    #{$property}-left: $size-x;
  } @else if $side == y {
    #{$property}-top: $size-y;
    #{$property}-bottom: $size-y;
  }
}

@mixin margin($side: all, $size: base) {
  @include spacing(margin, $side, $size)
}

@mixin padding($side: all, $size: base) {
  @include spacing(padding, $side, $size)
}
