@import "../variables/colors";
@import "flex";
@import "spacing";
@import "typography";
@import "grid";

@mixin cell($border-color: $gray-lighter) {
  @include col(1, 7);
  @include justify-content(center);
  @include padding(all, sm);
  @include flex(1);
  @include text-truncate();

  & + & {
    border-left: 1px solid $border-color;
  }
}
