@import '../variables/base';
@import '../variables/colors';
@import '../variables/border';
@import 'typography';
@import 'spacing';

@mixin tag() {
  text-transform: uppercase;
  background-color: $brand-primary;
  border-radius: $border-radius;
  transition: all $brand-transition;
  @include font(xxs, $brand-white, $weight: 900);
  @include padding(x, xs);
}
