@import '../variables/typography';

@mixin font($size: false, $color: false, $weight: false, $family: false, $line-height: false, $align: false) {
  @if $family {
    font-family: map-get($font-families, $family);
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $size {
    font-size: map-get($font-sizes, $size);
  }
  @if $color {
    color: $color;
  }
  @if $line-height {
    line-height: map-get($line-heights, $line-height);
  }
  @if $align {
    text-align: $align;
  }
}
